<style>
.info-box-4 .content .text {
    font-size: 12px;
    margin: 5px 0;
    color: #FFF;
}
.info-box-4 .content .number {
    font-weight: normal;
    font-size: 20px;
    margin-top: 0px;
    color: #FFF;
}

.card {
    background-color: #fff;
}
</style>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

  <md-content layout-padding>
   <div class="card">
       <div class="header">
           <h2>Dashboard</h2>
       </div>
       <hr>
       <div class="body">



<div class="row clearfix">

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <md-content layout-padding>
        <div class="info-box-4 hover-zoom-effect" style="background-color:#03A9F4">
            <div class="icon"> <i class="fa fa-user" style="color:#FFF;"></i> </div>
            <div class="content">
                <div class="text">New Patients</div>
                <div class="number">12</div>
            </div>
        </div>
          </md-content>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <md-content layout-padding>
        <div class="info-box-4 hover-zoom-effect" style="background-color:#009688">

            <div class="icon"> <i class="fa fa-calendar" style="color:#FFF"></i> </div>
            <div class="content">
                <div class="text">New Appointments</div>
                <div class="number">05</div>
            </div>
        </div>
          </md-content>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    </div>
      
</div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
          <div class="header">
              <h2>Patient Tracking</h2>
          </div>
             <hr>
          <div class="body">
              <ul class="country-state">
                  <li>
                      <h4>Patient Name</h4> <small>Major Description</small>
                      <div class="pull-right">58% <i class="fa fa-level-up text-success"></i></div>
                      <div class="progress">
                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:58%;"> <span class="sr-only">58% Complete</span></div>
                      </div>
                  </li>

              </ul>
          </div>
          <br>
          <div class="body">
              <ul class="country-state">
                  <li>
                      <h4>Patient Name</h4> <small>Major Description</small>
                      <div class="pull-right">58% <i class="fa fa-level-up text-success"></i></div>
                      <div class="progress">
                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:58%;"> <span class="sr-only">58% Complete</span></div>
                      </div>
                  </li>

              </ul>
          </div>
      </div>
  </div>


</div>
</div>
    </md-content>
</div>
